---

- name: Source
  ansible.builtin.debug:
    msg: "{{ item.ansible_host }}"
  loop: "{{ groups['ha_pair_source_dynamic'] }}"

- name: Dest
  ansible.builtin.debug:
    msg: "{{ create_f5_os_tenant_ha_matched_device.hostname.split('.')[0] | lower }}"


# - name: Check if IPs match
#   ansible.builtin.debug:
#     msg: "Match found!"
#   when: ansible_host == hostvars[groups['ha_pair_destination_static'][0]].ansible_host

# - name: Start F5 Tenant
#   f5networks.f5os.f5os_tenant:
#     name: "{{ create_f5_os_tenant_ha_matched_device.hostname.split('.')[0] | lower }}"
#     nodes: 1
#     running_state: deployed
#   when: create_f5_os_tenant_ha_matched_device is defined

# - name: Wait for F5 Tenant to Show GUI Page
#   ansible.builtin.uri:
#     url: "https://{{ hostvars[source_host].ansible_host }}"
#     method: GET
#     return_content: true
#     status_code: 200
#     validate_certs: false
#   register: atc_do_status
#   until: atc_do_status is success
#   retries: 30
#   delay: 30
#   delegate_to: localhost


# - name: Deploy tenant to VELOS chassis
#   f5networks.f5os.f5os_tenant:
#     name: "{{ create_f5_os_tenant_ha_matched_device.hostname.split('.')[0] | lower }}"
#     image_name: "{{ create_f5_os_tenant_ha_image.name }}"
#     nodes: [1]
#     mgmt_ip: "{{ hostvars[source_host].ansible_host }}"
#     mgmt_prefix: "{{ mgmt_sn_cidr }}"
#     mgmt_gateway: "{{ mgmt_gw }}"
#     vlans: "{{ create_f5_os_tenant_ha_vlan_list }}"
#     cpu_cores: "{{ cpu_cores }}"
#     memory: "{{ memory | int }}"
#     cryptos: enabled
#     virtual_disk_size: "{{ disk_size | default(120) }}"
#     running_state: configured
#   when: create_f5_os_tenant_ha_matched_device is defined
