---

- name: Start F5 Tenant
  f5networks.f5os.f5os_tenant:
    name: "{{ create_f5_os_tenant_ha_matched_device.hostname.split('.')[0] | lower }}"
    nodes: "{{ tenant_nodes }}"
    running_state: deployed
  when: create_f5_os_tenant_ha_matched_device is defined

- name: Wait for F5 Tenant to Show GUI Page
  ansible.builtin.uri:
    url: "https://{{ hostvars[source_host].ansible_host }}"
    method: GET
    return_content: true
    status_code: 200
    validate_certs: false
  register: atc_do_status
  until: atc_do_status is success
  retries: 30
  delay: 30
  delegate_to: localhost
